@model CreateCategoryVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Category</h4>
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control" id="category" placeholder="Enter your name" name="name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a asp-action="index" asp-controller="category" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>