@model Category
<div class="container">
    <div class="card" style="width: 18rem;">
        @foreach (Product product in Model.Products)
        {
            <img src="~/assets/images/website-images/@product.ProductImages.FirstOrDefault(p=>p.IsPrimary==true)?.Url" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@product.Price</li>
                <li class="list-group-item">@product.SKU</li>
            </ul>
            <div class="card-body">
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </div>
        }
    </div>
</div>