@model Tag
<div class="card" style="width: 18rem;">
    <div class="card-header">
        @Model.Name
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Name</li>
    </ul>
</div>